@model IEnumerable<BTL_CALLWEB_API.Models.Order>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<!--==========================
BREADCRUMB AREA START
===========================-->
<section class="breadcrumb_area" style="background: url(/user/assets/images/breadcrumb_bg.jpg);">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-12">
                <div class="breadcrumb_text">
                    <h1>order history view</h1>
                    <ul>
                        <li><a href="#">Home </a></li>
                        <li><a href="#">order history view</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
BREADCRUMB AREA END
===========================-->
<!--==========================
HISTORY VIEW START
===========================-->
<section class="cart_view mt_115 xs_mt_95">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-lg-12">
                <div class="cart_list">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>

                                    <th class="pro_name">Order Id</th>

                                    <th class="pro_tk">Created at</th>

                                    <th class="pro_select">Dish</th>

                                    <th class="pro_select">Quantity</th>

                                    <th class="pro_tk">Price</th>

                                    <th class="pro_tk">Total Price</th>

                                </tr>
                            </thead>
                            <tbody class="all-dish">
                                @if (Model.Count() > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        @foreach (var orderDetail in ViewBag.OrderDetails)
                                        {
                                            @if(item.OrderId == orderDetail.OrderId)
                                            {
                                                <tr class="dish">

                                                    <td class="pro_tk">
                                                        <h6>@item.OrderId</h6>
                                                    </td>

                                                    <td class="pro_tk">
                                                        <h6>@item.CreatedAt</h6>
                                                    </td>

                                                   <td class="pro_select">
                                                        @foreach(var dish in ViewBag.Dishes)
                                                        {
                                                            @if (dish.DishId == orderDetail.DishId)
                                                            {
                                                                <h6>@dish.DishName</h6>
                                                            }
                                                        }
                                                    </td>

                                                    <td class="pro_tk">
                                                        <h6>@orderDetail.Quantity</h6>
                                                    </td>

                                                    <td class="pro_tk">
                                                        <h6>$@orderDetail.Price</h6>
                                                    </td>

                                                    <td class="pro_tk">
                                                        <h6>$@(orderDetail.Price*orderDetail.Quantity)</h6>
                                                    </td>

                                                    @* <td class="pro_tk">
                                                        <h6 class="totalPrice">$@(item.Price * item.Quantity)</h6>
                                                        <input type="hidden" class="totalPriceInput" value="@(item.Price * item.Quantity)" />
                                                    </td> *@

                                                </tr>
                                            }
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @* <div class=" cart_list_footer_button mt_60">
            <div class="row wow fadeInUp">
                <div class="col-xl-8 col-md-6 col-lg-7">
                    <form>
                        <input type="text" placeholder="Coupon Code">
                        <button class="common_btn" type="submit">apply Coupon</button>
                    </form>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-5">
                    <div class="cart_summery">
                        <h6 class="totalQuantity">total cart (@totalQuantity)</h6>
                        <p>subtotal: <span class="totalPriceCart">$@totalPriceCart</span></p>
                        <p>delivery: <span>$00.00</span></p>
                        <p>discount: <span>$00.00</span></p>
                        <p><span>total:</span> <span class="totalPriceCart">$@totalPriceCart</span></p>
                        @if (Model.Count() != 0)
                        {
                            @if (HttpContextAccessor.HttpContext.Session.GetString("username") != null)
                            {
                                <a class='common_btn' href="/cart/checkout">checkout</a>
                            }
                            else
                            {
                                <a class='common_btn' asp-controller="Home" asp-action="Login" asp-route-page="checkout">checkout</a>
                            }
                        }

                    </div>
                </div>
            </div>
        </div> *@
    </div>
</section>
<!--==========================
    HISTORY VIEW END
===========================-->